.main-div{
    margin: auto;
    width: 50%;
    padding: 0px;
}
body{
    background-color:indigo;
    margin: auto;
}
.child-div{
    margin-top: 10%;
    margin-left: 25%;
}
.fig-caption{
    margin-left: -7%;
    color: burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.add-icon{
    padding-left: 2%;
    color:burlywood;
}
.delete-icon{
    padding-left: 6%;
    color:burlywood;
}
input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
 .remove-btn{background-color: burlywood;border-radius: 12px;padding:15px;margin-left: 21%;margin-top: 4%;} 
 .remove-btn:hover {color: white;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}
 ::placeholder {
    font-style: italic;
    font-size: 1.5em;
    color: brown;
  }
  .item{display: inline;}